/* #Media Queries Responsive
================================================== */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	
}

@media (min-width: 1200px) and (max-width: 1600px) {
.cls_title{color: #1c3816;}
}

@media (min-width: 1200px) and (max-width: 1440px) {
.home-landing{height: 75vh !important; min-height: 400px;}
.fullwidthbanner{height: 75vh !important;}
.slider-preload-cover h1{font-size: 105px;}
}

/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px) {

#menu_controller { margin-left: -20px; margin-top: -19px; }

#top>ul{padding-left: 29px;}
.quick_socials{display: none;}
.home-landing{height: 70vh !important; min-height: 400px;}
.fullwidthbanner{height: 70vh !important;}
.dot-line-left, .dot-line-right{width: 425px !important;}
.package-text-container h1{font-size: 34px;}
.offer-container { padding: 0 15px 70px 15px;}
.package-text-container.right{padding-left: 10px;}
.services-carousel-container{top: 25%; width: 450px;}
.tripadvisor-container .tripadvisor-widget-div{overflow: hidden;}
.awards-carousel-container .changer-div h4{font-size: 24px;}
.cls_title{color: #1c3816;}
.matt_block .cls_logo{max-height: 105px;}
#pre-footer #pre-nav li{font-size: 13px; margin-left: 0;}
#pre-footer .apps-content a{margin-right: 5px;}

.room_summary .info-ul li div.number p{font-size: 30px;}
.room_summary .info-ul li{padding: 0 20px;}
.room_summary h2{font-size: 26px;}
.room_summary p.room_titlename{font-size: 26px;}
#offer-carousel .dot-line-right, #offer-carousel .dot-line-left{width: auto;}
.offer-carousel-container .customNavigation .offer-next{right: -50px;}
.offer-carousel-container .customNavigation .offer-prev{left: -50px;}
#offer-carousel .package-text-container h1{font-size: 28px;}
#offer-carousel .package-text-container.offer-text-container{text-align: center;}
.room-facilities-container .nav-tabs li { width: 50%; }

.room-media-div .room-thumb{max-width: 40%;}
.room-media-div .vt-item{max-width: 57%;}
.room-facilities-container .nav-tabs li a{padding: 10px 25px;}
.room-facilities-container #rack-rate .rate{font-size: 35px;}

.room-media-div.restaurant-media-div .vt-item{max-width: 100%;}

.restaurant-carousel{width: 90%;}

.mauticform_wrapper.contact-form{margin-left: 0;}
.mauticform-row{margin-bottom: 0 !important;}
.contact-form input{margin-bottom: 0;}

.virtual-tour-container .virtual-tour-ul > li{width: 25%;}
.slider-preload-cover h1 { top: 25%; font-size: 75px;}

.offer-side-menu .filter select{width: 60%;}
.welcome-text-div p{width: 100%;}
.matt_block .more{margin-bottom: 15px;}


}

@media (min-width: 991px) and (max-width: 1199px) {
}

@media (min-width: 980px) and (max-width: 991px) {
.dot-line-left{float: none !important; margin: 0px auto; display: block;}
.offers-dot-line-left{margin: 70px auto 0;}
.package-text-container{text-align: center; margin: 40px auto 0px;}
.dot-line-right{float: none; margin: 70px auto 0px; display: block;}
.dot-line-right-small{display: block;}
.dot-line-right-big{display: none;}
.offers-dot-line-right{margin-top: 0;}

.services-carousel-container{position: relative; width: 100%;}
.services-carousel-container .customNavigation .prev{left: -85px;}
.services-carousel-container .customNavigation .next{top: 0; left: -50px;}
.tripadvisor-container{margin-bottom: 50px;}
.cls_title{margin-top: 10px; margin-bottom: 0;}
#pre-footer .logo-holder{height: auto !important; }
#pre-footer .logo-holder img{margin-top: 0;}
#pre-footer .logo-holder{height: auto !important; padding: 30px 0; background-color: #f1f1ee;}
#pre-footer #pre-nav li{margin-left: 0;}
#pre-footer #contact-content, #pre-footer .contact-holder, #pre-footer .pre-nav-content{border-right: 0;}
#pre-footer input[type="email"]{width: auto;}
#pre-footer .weather-ul{width: 40%;}
#pre-footer .copyright.small{display: block !important;}
#pre-footer .copyright.big{display: none;}

.room_summary .info-ul li div.number p {font-size: 25px;}
.room_summary .info-ul li {padding: 0 12px;}
.room_summary h2{font-size: 22px;}

.relaxation-container .facilities-carousel{margin-top: 0;}
.room_summary .content.right.relaxation{float: left;}
.relaxation-small-col{display: block;}
.relaxation-big-col{display: none;}

.room-media-div .room-thumb{max-width: 40%; float: left; margin-top: 50px; margin-right: 15px; padding-top: 0;}
.room-media-div .vt-item{max-width: 90%; float: none; margin-top: 15px;}
.room-facilities-container h2{margin-top: 30px;}

.photo-gallery-container ul.photo-gallery li{width: 33%;}

.offer-side-menu .filter select{width: 70%;}

.rooms-detail-summary-container .text-thumb-container{padding-top: 0;}
.rack-rate-div{margin-top: 50px;}
.matt_block .more{margin-bottom: 15px;}

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {

#top>ul{padding-left: 23px;}
#perspective #nav>div:nth-child(2)>ul:not(.special):not(.contacts) li a{font-size: 17px !important;}
.quick_socials{display: none;}
.home-landing{height: auto !important; min-height: 400px;}
.fullwidthbanner{height: auto !important;}

.dot-line-left{float: none !important; margin: 0px auto; display: block;}
.offers-dot-line-left{margin: 70px auto 0;}
.package-text-container{text-align: center; margin: 40px auto 0px;}
.dot-line-right{float: none; margin: 70px auto 0px; display: block;}
.dot-line-right-small{display: block;}
.dot-line-right-big{display: none;}
.offers-dot-line-right{margin-top: 0;}

.services-carousel-container{position: relative; width: 100%;}
.services-carousel-container .customNavigation .prev{left: -85px;}
.services-carousel-container .customNavigation .next{top: 0; left: -50px;}
.tripadvisor-container .tripadvisor-widget-div{overflow: hidden;}
.tripadvisor-container{margin-bottom: 30px;}
/*.matt_block .cls_logo{max-height: 105px;}*/
.matt_block .cls_logo{display: none;}
.matt_block .ref_title{margin-bottom: 0px;}
.cls_title{color: #1c3816;}
#pre-footer .logo-holder img{margin-top: 0;}
#pre-footer .logo-holder{height: auto !important; padding: 30px 0; background-color: #f1f1ee;}
#pre-footer #pre-nav li{margin-left: 0;}
#pre-footer #contact-content, #pre-footer .contact-holder, #pre-footer .pre-nav-content{border-right: 0;}
#pre-footer input[type="email"]{width: auto;}
.inner-header-div{padding: 40px 20px 20px;}
.package-text-container p{width: 65%; margin: 0px auto;}
#pre-footer .weather-ul{width: 40%;}
#pre-footer .copyright.small{display: block !important;}
#pre-footer .copyright.big{display: none;}
#pre-footer .apps-content{text-align: left; margin-top: 30px;}

.room_summary .info-ul li div.number p{font-size: 25px;}
.room_summary .info-ul li{padding: 0 14px;}
.room_summary h2{font-size: 26px;}
#offer-carousel .dot-line-right, #offer-carousel .dot-line-left{width: auto;}
.offer-carousel-container .customNavigation .offer-next{right: -50px;}
.offer-carousel-container .customNavigation .offer-prev{left: -50px;}
#offer-carousel .package-text-container h1{font-size: 28px; margin-top: 30px;}
.room_summary h2{font-size: 22px;}
.room_summary p.room_titlename{font-size: 22px;}
.room_summary .content{width: 97%;}
#offer-carousel .package-text-container.offer-text-container{text-align: center;}
.offer-date{font-size: 13px;}
.package-text-container p{font-size: 12px; margin-bottom: 20px;}

.relaxation-container .facilities-carousel{margin-top: 0;}
.room_summary .content.right.relaxation{float: left;}
.relaxation-small-col{display: block;}
.relaxation-big-col{display: none;}
.relaxation-small-col .room_summary{padding: 0 20px;}

.room-media-div .room-thumb{max-width: 40%; float: left; margin-top: 50px; margin-right: 15px; padding-top: 0; margin-left: 15px;}
.room-media-div .vt-item{max-width: 57%; float: none; margin-top: 15px;}
.room-detail-text{padding-left: 15px;}
.room-facilities-container h2{margin-top: 50px;}
.room-facilities-container .nav-tabs li a{padding: 10px 25px;}
div.rack-rate { width: 100%; }
.room-facilities-container .nav-tabs li { width: 50%; }
.room-facilities-container #rack-rate .rate{font-size: 35px;}
.heading-h1 > h1, .room-detail-text h2{font-size: 30px;}
.heading-h1 > .heading-h1-title{font-size: 30px;}
.facts-and-figures-container h2{font-size: 32px;}

.room-media-div.restaurant-media-div .vt-item{max-width: 100%; margin: 35px auto 0; display: table;}
.room-detail-text h2{margin-top: 0;}

.restaurant-carousel{width: 90%;}

.mauticform_wrapper.contact-form{margin-left: 0;}
.mauticform-row{margin-bottom: 0 !important;}
.contact-form input{margin-bottom: 0;}
.contact-us .rooms-detail-summary-container{padding-top: 0px !important;}
.contact-us .rooms-detail-summary-container .welcome-text-div{padding-top: 0px !important;}
.photo-gallery-container ul.photo-gallery li{width: 33%;}
.virtual-tour-container .virtual-tour-ul > li{width: 33%;}
#menu_controller { margin-left: -20px; margin-top: -18px; }
.weather-content { display: none; }
#pre-footer .copyright-content { margin-top: -20px; }
.third-margin { margin-top: 50px; }

div.rack-rate span.rate-title { font-size: 14px; width: 31%; }
div.rack-rate span.rate { font-size: 11px; }
.slider-preload-cover h1 { top: 20%; font-size: 60px;}
.vt-holder { float: none; }

.offer-side-menu .filter select{width: 70%;}

.rooms-detail-summary-container .text-thumb-container{padding-top: 0;}
.rack-rate-div{margin-top: 50px;}

.powered-by-logo{width: 200px;}

.welcome-text-div p{width: 100%;}

.matt_block .more{ margin-bottom: 10px; margin-top: 4px; padding: 1px; }
.matt_block:hover .more { padding: 0px 10px; }
.facts-and-figures-container ul.have-fun li{margin-right: 15px; margin-bottom: 5px; margin-top: -10px;}
.facts-and-figures-container ul.have-fun li > ul > li p{font-size: 14px;}

#perspective #nav>div:nth-child(2)>ul.guest-policy-ul:not(.special):not(.contacts) li a{font-size: 13px !important;}

.room-facilities-container .customNavigation .next, .room-facilities-container .customNavigation .prev{top: 42%;}

}

/* All Mobile Sizes (devices and browser)
------------------------- */


@media only screen and (max-width: 767px) {

#top>ul{padding-left: 14px;}
.quick_socials{display: none;}

#perspective #nav>div:nth-child(2)>ul:not(.special):not(.contacts) li a{font-size: 14px !important;}
.home-landing{height: 40vh !important; min-height: 260px;}
.fullwidthbanner{height: 40vh !important;}
#top.is_stuck .contact-ul{display: none;}
#top.is_stuck>a{margin-left: -55px;}
#perspective #nav>div:nth-child(2)>ul:not(.special):not(.contacts):last-child li fieldset.booking>div.input-submit a{padding: 5px 1em;}
.welcome-text-div p{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-gap: 75px;
-moz-column-gap: 75px;
column-gap: 75px;
}
.welcome-text-div h1{font-size: 24px; margin-bottom: 0; margin-top: 0; text-align: center;}
.welcome-text-div p.page-header{font-size: 24px; margin-bottom: 0; margin-top: 0; text-align: center;}
.inner-header-div p.header-one{font-size: 24px; margin-bottom: 0; margin-top: 0; text-align: center;}
.sub-header-div p.review-header{font-size: 24px; margin-bottom: 0; margin-top: 0; text-align: center;}

.welcome-text-div{padding: 30px 0; width: 100%;}
.offer-container{padding: 0 20px 0 20px;}

.dot-line-left{float: none !important; margin: 0px auto; display: block; width: 440px !important;}
.package-text-container{text-align: center; margin: 30px auto 40px;}
.package-text-container.right{text-align: center; margin-bottom:  0px;}
.package-text-container.right.last{margin-bottom:  50px;}
.package-text-container.offers-right{margin-bottom:  40px;}
.dot-line-right{float: none; margin: 70px auto 0px; display: block; width: 440px;}
.dot-line-right-small{display: block;}
.dot-line-right-big{display: none;}
.dot-line-left::before, .dot-line-right::before{display: none;}
.package-text-container h1{font-size: 34px;}
.package-text-container p.package-header{font-size: 34px;}
.package-text-container p{padding: 25px 0;}
.welcome-text-div img {margin: 20px auto;}
.welcome-text-div.inner-header-div img {margin: 20 auto;}
.special-offers .inner-header-div img {  margin: 20px auto; }
.offers-dot-line-right{margin-top: 0;}
.offers-dot-line-left{margin-top: 30px;}

.services-carousel-container{position: relative; width: 100%; padding: 15px 50px 30px;}
.services-carousel-container .customNavigation .prev{left: -85px;}
.services-carousel-container .customNavigation .next{top: 0; left: -50px;}
.services-carousel-container .detail{margin-top: 0px; margin-bottom: 15px;}
.tripadvisor-container .tripadvisor-widget-div{overflow: hidden; padding: 20px 0;}
.awards-carousel-container .changer-div .customNavigation{width: 100%;}
.awards-carousel-container .changer-div h4{font-size: 19px;}
.tripadvisor-container{margin-bottom: 30px;}
.cls_title{color: #1c3816;}

.matt_block{display: table; width: 100%; padding: 30px 0;}
#calls .pic{display: block; width: 100%; }

.matt_block_small{display: block;}
.matt_block_big{display: none;}
.ref_title{width: 80%;}
#follow-us-container{padding: 20px;}

#pre-footer .logo-holder img{margin-top: 0;}
#pre-footer .logo-holder{height: auto !important; padding: 30px 0; background-color: #e6e6e6;}
#pre-footer #contact-content{padding-top: 30px;}
#pre-footer #pre-nav li{margin-left: 0;}
#pre-footer #contact-content, #pre-footer .contact-holder, #pre-footer .pre-nav-content{border-right: 0;}
#pre-footer input[type="email"]{width: auto;}
.inner-header-div{padding: 40px 20px 20px;}
.package-text-container p{width: 95%; margin: 0px auto; margin-bottom: 20px;}
#pre-footer .weather-ul{width: 40%; display: none;}
#pre-footer h3{display: none;}
#pre-footer .copyright.small{display: block !important;}
#pre-footer .copyright.big{display: none;}
#pre-footer #pre-nav li a{padding: 10px 5px 10px;}
#pre-footer .email-form-container{margin-bottom: 30px; display: none;}
#pre-footer .copyright-content { margin-top: -40px; }
#pre-footer .apps-content{text-align: left;}
#pre-footer .contact-ul li{width: 100%;}
#follow-us-container h2{font-size: 28px;}
#pre-footer .apps-content{text-align: left; margin-top: 30px;}
#pre-footer #pre-nav{display: none;}
#style-logo{text-indent: 44%;}

.rooms-info-container .room_summary{display: block; width: 100%; margin-top: 20px;}
#calls .pic.big{display: none;}
#calls .pic.small{display: block;}
.room_summary h2{font-size: 24px;}
.room_summary p.room_titlename{font-size: 24px;}
.room_summary img.line{width: 50%;}
.room_summary .content{width: 100%;}
.room_summary .content.relaxation-first-content{padding-left: 20px; float: none;}
#calls .calls-content{margin-bottom: 40px;}
#calls .calls-content.home{margin-bottom: 0px; background-color: #f1f1ee;}
.matt_block .more{margin-bottom: 25px;}
.matt_block:hover .more{padding: 10px 0; font-size: 16px; border: 1px solid #585353;}
.room_summary .info-ul li div.number p{font-size: 30px;}
.offer-carousel-container .customNavigation .offer-next{right: 0;}
.offer-carousel-container .customNavigation .offer-prev{left: 0;}
.welcome-text-div p{font-size: 13px; width: 100%;}
.offer-date{font-size: 13px;}
.package-text-container p{font-size: 12px;}
#offer-carousel .package-text-container.offer-text-container{text-align: center;}
.room_summary p.short_description{padding: 0 20px;}
.events-carousel-container #offer-carousel .package-text-container{width: 100%;}
.events-carousel-container .inner-header-div h1{text-align: left;}
.events-carousel-container .owl-carousel .owl-item img{height: 250px;}

.relaxation-container .facilities-carousel{margin-top: 0;}
.room_summary .content.right.relaxation{float: left;}
.relaxation-small-col{display: block;}
.relaxation-big-col{display: none;}
/*.relaxation-small-col .room_summary{padding: 0 0px 0 20px;}*/
.relaxation-small-col .room_summary p.short_description{padding-left: 0;}
.room_summary .content.right.relaxation p.short_description{padding-left: 0;}

.relaxation-small-spacer{display: block !important;}
.relaxation-big-spacer{display: none !important;}
.relaxation-container #offer-carousel{width: 100%;}
.gray-container.first{margin-top: 0;}
.relaxation-container .room_summary .content{margin-top: 0;}
.relaxation-container .offer-next-3, .relaxation-container .offer-prev-3, .relaxation-container .offer-next-2, .relaxation-container .offer-prev-2{margin-top: -25px;}
.small-padding-left{padding-left: 30px;}

.offer-details{padding: 15px;}
.offrtable{overflow-x: scroll;}
.offer-details h2{font-size: 24px; margin-top: 40px;}
.offer-details .offertitle{font-size: 16px; line-height: 20px;}
.offer-details ul.attractul li{font-size: 14px; line-height: 18px; padding-bottom: 16px; background-position: left top;}
ul.attractul{margin-top: 20px;}
span.vatterm{display: block; margin-top: 20px;}
.mauticform-button-wrapper{margin-left: 0 !important;}

.facts-and-figures-container .info-ul{padding-left: 0;}
.facts-and-figures-container .info-ul li div.number p{font-size: 30px; margin-bottom: 15px;}
.facts-and-figures-container .info-ul li{padding: 0px 18px;}
.facts-and-figures-container h2{font-size: 26px;}

.room-media-div .room-thumb{/*max-width: 35%;*/ float: none; margin-top: 50px; margin-right: 15px; padding-top: 0; margin-left: 15px; margin-bottom: 30px;}
.room-media-div .vt-item{/*max-width: 50%;*/ float: none; margin-top: 15px; margin-bottom: 25px;}
/*.room-detail-text{padding-left: 15px;}*/
.room-media-div{text-align: center; }
.room-media-div > img{ display: none; }
.room-media-div .vt-holder  { float: none; }
.vt-holder h4 { top: -5px; }
.room-facilities-container .nav-tabs li { width: 50%; }
.room-media-div .vt-item span{background-size: 70px;}
.heading-h1 > h1, .room-detail-text h2{font-size: 26px;}
.room-detail-text h2{margin-bottom: 20px;}
.room-detail-text{padding-top: 0;}
.filter select{padding-right: 2em; width: 45%;}

.room-facilities-container h2{margin-top: 50px;}
.room-facilities-container .nav-tabs li a{padding: 10px 25px;}
.room-facilities-container #rack-rate .rate{font-size: 35px;}
.heading-h1 > h1, .room-detail-text h2{font-size: 30px;}
.facts-and-figures-container h2{font-size: 32px;}
.room-facilities-container{padding: 20px 0 60px;}
.facts-and-figures-container{padding: 60px 0;}

.room-detail-text h2{margin-top: 0;}
.restaurant-media-div h3.media-header{text-align: left;}

.mauticform_wrapper.contact-form{margin-left: 0;}
.mauticform-row{margin-bottom: 0 !important;}
.contact-form input{margin-bottom: 0;}
.contact-us h3{font-size: 21px; font-style: italic;}

.contact-us .rooms-detail-summary-container{padding-top: 0px !important;}
.contact-us .rooms-detail-summary-container .welcome-text-div{padding-top: 0px !important;}

.photo-gallery-container ul.photo-gallery li{width: 48%;}
.virtual-tour-container .virtual-tour-ul > li{width: 48%;}

div.pp_pic_holder{width: 100% !important; left: 0 !important; margin-top: -50px;}
div.pp_default .pp_content, .pp_hoverContainer{width: 100% !important; height: auto !important;}
#pp_full_res img{width: 98% !important; height: auto !important;}
#pp_full_res iframe{width: 98% !important; height: auto !important;}
div.pp_default .pp_expand{display: none !important;}
div.pp_default .pp_content_container .pp_details{width: 99% !important;}
#menu_upper .contact-ul { font-size: 14px; }

div.rack-rate.mobile { display: block; }
.discount-offer.mobile { display: none; }
div.rack-rate { display: none; }
.discount-offer p { display: block; }

.rooms-detail-summary-container .text-thumb-container{padding-top: 0;}

.discount-offer p{margin-left: 15px;}
.rack-rate-div{display: none;}

.powered-by-logo{width: 200px;}
.facts-and-figures-container ul.have-fun{display: table; margin: 0px auto;}
.facts-and-figures-container ul.have-fun li > ul > li p.item-name{float: none;}
.facts-and-figures-container ul.have-fun li{display: table; border-right: none; margin-right: 0;}
.facts-and-figures-container ul.have-fun li > ul > li{margin-right: 0;}
.facts-and-figures-container ul.have-fun li > ul > li p{font-size: 14px;}

#perspective #nav>div:nth-child(2)>ul.guest-policy-ul:not(.special):not(.contacts){display: none !important;}

}

@media (min-width: 600px) and (max-width: 767px) {
#top>ul{padding-left: 18px;}
.weather-content { display: none; }
#pre-footer .copyright-content { padding: 0px 20px; margin-top: -20px; }
div.rack-rate {  width: 65%; margin: 20px auto; }
.slider-preload-cover h1 { top: 28%; font-size: 25px; }


}


/* Mobile Landscape & Tablet Portrait
------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#menu_controller { margin-left: -40px; margin-top: -18px; }
div.rack-rate {  width: 75%; margin: 20px auto; }
.discount-offer p { display: none; width: 100%; text-align: center; padding-bottom: 20px; margin-top: -20px; }
div.rack-rate span.rate { font-size: 12px; }
.slider-preload-cover h1 { top: 21%; font-size: 38px; }
#calls .pic{display: block; width: 100%; margin-top: 70px;}

} 

/* Mobile Portrait
------------------------- */
@media only screen and (max-width: 479px) {
.fullwidthbanner{height: 40vh !important;}
.home-landing{height: 40vh !important; min-height: 140px; width: 100%;}
#top>ul{padding-left: 0;}
#menu_upper .contact-ul{padding-left: 0;}
#menu_upper .contact-ul li{font-size: 11px; margin-right: 2px;}
#menu_upper .contact-ul li::before{margin-right: 5px; width: 12px; height: 12px; background-size: 12px;}
#top.is_stuck>a {margin-left: -42px;}
#style-logo{margin-bottom: 0;}

.dot-line-left, .dot-line-right{width: auto !important;}
.package-text-container h1 {font-size: 30px;}
.background-radius{width: 100px; height: 100px; margin-top: -33px;}
#style-logo{background-size: 200px; height: 175px;}

.services-carousel-container h3{font-size: 24px;}
.services-carousel-container p.glance-item-name{font-size: 24px;}
.services-carousel-container {padding: 15px 20px 30px;}
.services-carousel-container .detail{text-align: justify;}
#pre-footer #pre-nav{text-align: center;}
#pre-footer .weather-ul{width: 100%;}

.room_summary .info-ul li div.number p{font-size: 23px;}
.room_summary .info-ul li{padding: 0 12px;}

#offer-carousel{width: 80%; margin: 0px auto;}
.offer-carousel-container .customNavigation .offer-next, .offer-carousel-container .customNavigation .offer-prev{top: 30%;}

.facts-and-figures-container .info-ul{padding-left: 0;}
.facts-and-figures-container .info-ul li div.text p{font-size: 14px;}
.facts-and-figures-container .info-ul li div.number p{font-size: 23px; margin-bottom: 15px;}
.facts-and-figures-container .info-ul li{padding: 0px 8px;}
.facts-and-figures-container h2{font-size: 26px;}

.room-media-div .room-thumb{margin-left: 0;}
.room-media-div .vt-holder  { float: none; }
.room-media-div .vt-item span{background-size: 50px;}

.filter select{width: 75%; padding-right: 0em; padding-top: 10px; padding-bottom: 10px;}
.room-facilities-container h2, .heading-h1 > h1, .room-detail-text h2{font-size: 26px;}
.room-facilities-container .nav-tabs li a {padding: 10px 4px; font-size: 14px;}
.room-facilities-container #rack-rate #rate-ul{padding-left: 0;}
.room-facilities-container #rack-rate .seperator{margin: 0px 10px;}
.room-facilities-container #rack-rate .rate{font-size: 24px;}
.room-facilities-container #rack-rate .rate span{margin-right: 15px;}
.room-details-ul li{font-size: 13px;}
.room-complementary-ul li span{float: left; margin-bottom: 10px;}
.room-facilities-container{padding-bottom: 50px; padding-top: 40px;}
.offer-carousel-container{padding-bottom: 20px;}

.photo-gallery-container ul.photo-gallery li{width: 80%; margin: 0px auto; /*display: block;*/}
.photo-gallery-container ul.photo-gallery{padding-left: 0; text-align: center;}
.virtual-tour-container .virtual-tour-ul > li{width: 80%;}
#perspective #nav.open ul>li{margin-bottom: 5px;}

div.pp_pic_holder{width: 100% !important; left: 0 !important; margin-top: 0;}
div.pp_default .pp_content, .pp_hoverContainer{width: 100% !important; height: auto !important;}
#pp_full_res img{width: 98% !important; height: auto !important;}
#pp_full_res iframe{width: 98% !important; height: auto !important;}
div.pp_default .pp_expand{display: none !important;}
div.pp_default .pp_content_container .pp_details{width: 99% !important;}

#menu_controller { margin-left: -40px; margin-top: -18px; }
#menu_upper .contact-ul { font-size: 14px; }
#follow-us-container ul li {  margin-right: 5px; }
.weather-content { display: none; }
#pre-footer .copyright-content { padding: 0px 20px; margin-top: -20px; }
div.rack-rate span.rate { font-size: 12px; }
.slider-preload-cover h1 { top: 23%; font-size: 20px; }
.powered-by-logo{width: 175px;}

#calls .pic{display: block; width: 100%; margin-top: 70px;}

}

@media only screen and (max-width: 406px) {
#top>ul{padding-left: 0;}
#menu_upper .contact-ul li{font-size: 10px;}
#perspective #nav>div:nth-child(2)>ul:not(.special):not(.contacts):last-child li fieldset.booking>div.input-submit a{padding: 5px 0.5em;}
#menu_controller { margin-left: -40px; margin-top: -18px; }
#menu_upper .contact-ul { font-size: 14px; }
#follow-us-container ul li {  margin-right: 0px; }
.weather-content { display: none; }
#pre-footer .copyright-content { padding: 0px 20px; margin-top: -20px; }
div.rack-rate span.rate { font-size: 12px; }
.slider-preload-cover h1 { top: 21%; font-size: 28px; }
div.rack-rate.mobile { display: block; margin-bottom: 20px; margin-top: 35px; }

div#mobile-div { display: block; }
.discount-offer.mobile { display: block; }
div.rack-rate { display: none; }
.discount-offer p{ display: none; }

}